<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atgx.mybatis.mapper.CashMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />
<!--Emp getEmpByID(@Param("eid") String eid);-->
    <select id="getEmpByID" resultType="Emp">
        select * from t_emp where eid = #{eid}
    </select>
<!--     void insertEmp(Emp emp);-->
    <insert id="insertEmp">
        insert into t_emp values (null,"哈哈",23,"男","123@qq.con",null)
    </insert>
</mapper>